

<header>
    <nav>
        <h1 class="titleLine">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium</h1>
    </nav>
</header>

<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="assest/images/pic1.jpeg" alt="Rounded Image" class="rounded-image">

            </div>
            <div class="col-9">
                <h1>Welcome to My Advertising Portfolio</h1>
                <p>Hello, I'm an expert advertiser with over 5 years of experience helping brands reach their target audience.
                </p>
            </div>
        </div>
       
    </div>
</section>

<section id="services" class="section">
    <div class="container">
        <h2>Services I Offer</h2>
        <div class="services">
            <div class="service-card">
                <h3>Digital Advertising</h3>
                <p>Social media campaigns, Google Ads, SEO strategies, and more.</p>
            </div>
            <div class="service-card">
                <h3>Brand Strategy</h3>
                <p>Developing marketing plans, positioning, and growth strategies.</p>
            </div>
            <div class="service-card">
                <h3>Content Creation</h3>
                <p>Engaging copy, blogs, and video content to capture attention.</p>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="section">
    <div class="container">
        <h2>Work</h2>
        <div class="portfolio-grid">
            @for(project of projects ; track $index){
            <div class="portfolio-item">
                <img [src]="project.path" alt="Project 1">
                <h3>{{project.title}}</h3>
                <p>{{project.description}}</p>
            </div>

            }


          
        </div>
    </div>
</section>

<section id="contact" class="section">
    <div class="container">
        <h2>Contact Me</h2>
       
            
        <button (click)="navigateToEnquiry()">Send Message</button>
      
    </div>
</section>