
<nav class="navbar navbar-expand-lg navbar-light myNavbar text-white ">
    <div class="container-fluid">
      <span class="logoSpan">
        <img class=" myLogo" src="assest/images/logo.png" alt="">
      </span>
      <button class="navbar-toggler text-white bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
          <li class="nav-item">
            <a class="nav-link active  text-color" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-color" routerLink="portfolio">Portfolio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle   text-color"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-dark text-color" routerLink="campaignPage">Our Campaigns</a></li>
              <li><a class="dropdown-item text-dark text-color" routerLink="enquiryForm">Enquiry Form</a></li>
              <li><hr class="dropdown-divider text-color"></li>
              <li><a class="dropdown-item text-dark text-color" routerLink="viewEnquiry">View all enquiry</a></li>
              <li><a class="dropdown-item text-dark text-color" routerLink="viewUsers">View all Users</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-color" routerLink="about" tabindex="-1" >AboutUs</a>
          </li>
        </ul>
        <button class="btn btn-outline-success text-dark me-2" type="submit" (click)="callLoginPage()">Login</button>
        
          <button class="btn btn-outline-success text-dark me-2" (click)="callSignupPage()" type="submit">SingUp</button>
        
      </div>
    </div>
  </nav>