<p>cousel-slidebar works!</p>

<div class="container">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assest/images/pic1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assest/images/pic2.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assest/images/pic3.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

</div>