<p>view-users works!</p>



<table>
    <thead>
        <tr>
            <th>Sr No </th>
            <th>User Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Mobile No</th>
            <th>City</th>
            <th>State</th> 
            <th>Country</th>
           
        </tr>
    </thead>

    <tbody>
        @for(user of UserList ; track $index){
            <tr>
                <td>{{$index+1}}</td>
                <td>{{user.userId}}</td>
                <td>{{user.userFirstName}}</td>
                <td>{{user.userLastName}}</td>
                <td>{{user.userEmail}}</td>
                <td>{{user.userMobileNo}}</td>
                <td>{{user.userCity}}</td> 
                <td>{{user.userState}}</td>
                <td>{{user.userCountry}}</td>
            </tr>
        }
        
    </tbody>
</table>

