<p>view-enquiry works!</p>

<table>
    <thead>
        <tr>
            <th>First Name </th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Mobile No </th>
            <th>Enquiry</th>
        </tr>
    </thead>

    <tbody>
        @for(enquiry of enquiryList ; track $index){
            <tr>
                <td>{{enquiry.firstName}}</td>
                <td>{{enquiry.firstName}}</td>
                <td>{{enquiry.firstName}}</td>
                <td>{{enquiry.firstName}}</td>
                <td>{{enquiry.firstName}}</td>
            </tr>
        }
        
    </tbody>
</table>