<p>view-enquiry works!</p>

<button (click)="onCall()">Show table </button>

<table>
    <thead>
        <tr>
            <th>Sr No </th>
            <th>Inquiry Id</th>
            <th>Email Id</th>
            <th>Mobile No </th>
            <th>Enquiry</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @for(enquiry of enquiryList ; track $index){
            <tr>
                <td>{{$index+1}}</td>
                <td>{{enquiry.enquiryId}}</td>
                <td>{{enquiry.enquiryEmailId}}</td>
                <td>{{enquiry.enquiryMobNo}}</td>
                <td>{{enquiry.enquiryMessage}}</td>
                <td>{{enquiry.submittedTime|date}}</td>
            </tr>
        }
        
    </tbody>
</table>